@media only screen and (max-width: 1125px) {
  .nav-list {
    flex-direction: column;
    padding: 30px;
    transition-delay: 0.25s;
  }

  .nav-list li {
    padding: 30px;
  }

  .logo img {
    width: 50px;
  }

  .navbar {
    flex-direction: column;
    height: 400px;
    transition: all 0.5s ease-out;
  }

  .rightNav {
    text-align: center;
    padding: 10px;
    width: 70%;
    transition: 0.5s ease-in;
  }

  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  #search {
    width: 100%;
    align-items: center;
    padding: 5px 5px;
  }

  .burger {
    display: block;
  }

  .h-nav-resp {
    height: 50px;
  }

  .v-class-resp {
    opacity: 0;
  }

  .section {
    flex-direction: column-reverse;
  }

  .text-small {
    text-align: center;
  }

  .text-big {
    text-align: center;
  }

  .buttons {
    text-align: center;
  }

  .paras {
    padding: 0px;
  }

  .form-input {
    width: 95%;
  }

  .btn {
    height: auto;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    transition: none;
  }

  .btn:hover {
    transition: 0.5s;
    background: hsla(240, 100%, 64%, 0.5);
  }

  svg {
    transition: none;
    height: 24px;
    width: 179px;
    border: none;
  }

  .trans-buttons {
    -webkit-box-reflect: below 1.5px
      linear-gradient(transparent, rgb(70 70 255 / 0%));
  }
}
