@media only screen and (max-width: 1025px) {
  .nav-list {
    flex-direction: column;
    padding: 20px;
  }

  .nav-list li {
    padding: 10px;
  }

  .logo img {
    width: 50px;
  }

  .navbar {
    flex-direction: column;
    height: 400px;
    transition: all 0.5s ease-out;
  }

  .rightNav {
    text-align: center;
    padding: 10px;
  }

  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  #search {
    width: 100%;
    align-items: center;
    padding: 0px 0px;
  }

  .burger {
    display: block;
  }

  .h-nav-resp {
    height: 50px;
  }

  .v-class-resp {
    opacity: 0;
  }

  .section {
    flex-direction: column-reverse;
  }

  .text-small {
    text-align: center;
  }

  .text-big {
    text-align: center;
  }

  .buttons {
    text-align: center;
  }

  .paras {
    padding: 0px;
  }

  .form-input {
    width: 95%;
  }
}
