@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 60px;

  background: -o-linear-gradient(bottom, rgb(4, 14, 16) 0%, rgb(0, 0, 0) 99%);
  background: -ms-linear-gradient(bottom, rgb(4, 14, 16) 0%, rgb(0, 0, 0) 99%);
  background: -moz-linear-gradient(bottom, rgb(4, 14, 16) 0%, rgb(0, 0, 0) 99%);
  background: linear-gradient(to top, rgb(4, 14, 16) 0%, rgb(0, 0, 0) 99%);
  z-index: 3;

  box-shadow: 1px 1px 20px 0px black;
}
.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}
.nav-list li {
  list-style: none;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease-in-out;
  background: transparent;
}
.nav-list li a {
  text-decoration: none;
  font-size: 18px;
}
.container-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  width: auto;
  height: auto;
  position: absolute;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgb(70, 70, 255);
  stroke-width: 1px;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  height: 50px;
  width: 190px;
}
.btn {
  width: 160px;
  height: 45px;
  cursor: pointer;
  background: transparent;
  transition: 1s ease-in-out;
  outline: none;
  border: none;
}
.btn:hover {
  transition: 0.5s ease-in-out;
  background: transparent;
}
.btn:hover svg {
  stroke-dashoffset: -480;
}
.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  transition: 0.5s ease-in-out;
}
.btn:hover span {
  color: white;
  transition: 0.5s ease-in-out;
}
.rightNav {
  width: 30%;
  text-align: right;
  padding: 10px;
}
#search {
  padding: 6px;
  font-size: 16px;
  border: 1px solid rgb(70, 70, 255);
  border-radius: 5px;
  outline: none;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../img/bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.firstSection {
  height: 100%;
}
.box-main {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  margin: auto;
  max-width: 69%;
  padding: 100px 0;
  height: 550px;
}
.firstHalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}
.text-big {
  font-size: 30px;
  padding: 5px 0;
  letter-spacing: 2px;
}
.text-small {
  font-size: 18px;
  padding: 5px 0;
  letter-spacing: 2px;
}

.btn-sm {
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 14px;
  margin: 4px 0px;
  background: transparent;
  color: white;
  border: 2px solid rgb(70, 70, 255);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
}
.btn-sm:hover {
  border: 2px solid white;
  transition: 0.2s ease-in-out;
}
.btn-dark {
  color: black;
  border: 2px solid grey;
}

.container {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 45px 0px;
}
.container .box {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 140px;
}
.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0px 0px 50px rgb(70, 70, 255);
  border-radius: 10px;
}
.container .box .imgBx {
  width: 50%;
}
.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgb(70, 70, 255, 0.8),
    hsla(0, 0%, 0%, 0.8)
  );
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
}
.container .box:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0.2s;
}
.container .box .content p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
}
.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.3s;
}

.contact {
  background-color: #ecedf340;
  height: 700px;
}
.text-center {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  letter-spacing: 2px;
}
.form {
  max-width: 62%;
  margin: 25px auto;
}
.form-input {
  width: 100%;
  padding: 5px 13px;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
  margin: 15px 0;
}

.text-footer {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: white;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}

.trans-buttons {
  position: relative;
  padding: 14px 26px;
  display: inline-block;
  color: rgb(70, 70, 255);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  top: 30px;
  margin: 15px 10px 15px 10px;
  font-weight: 600;
  -webkit-box-reflect: below 1.5px
    linear-gradient(transparent, rgba(70, 70, 255, 0.4));
  border: 1px solid transparent;
  cursor: pointer;
}
.trans-buttons:hover {
  box-shadow: 0 0 80px rgba(245, 245, 245, 0.226);
  color: white;
  background: rgba(245, 245, 245, 0.151);
}
.trans-buttons span {
  position: absolute;
  display: block;
}
.trans-buttons span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2.5px;
  background: linear-gradient(90deg, transparent, rgb(43, 43, 255));
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.trans-buttons span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2.5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(70, 70, 255));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.trans-buttons span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2.5px;
  background: linear-gradient(270deg, transparent, rgb(70, 70, 255));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.trans-buttons span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2.5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(70, 70, 255));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
